.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 40%;
    height: 60vh;
    background-color: hsl(0, 0%, 100%);
    margin-top: 5rem;
    border-radius: 1rem 1rem 8rem 1rem;
}

.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
input[type='text']{
    width: 60%;
    height: 6vh;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
}
.input-group label{
    font-weight: 700;
    padding-right: 5rem;
}
.component{
    padding-left: 1rem;
}
legend{
    font-weight: 900;
    color: hsl(259, 100%, 65%);
    font-size: larger;
}
legend span{
    color: black;
    font-size: 50px;
}
/* .mid-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
button{
    width: 20px;
    height: 20px;
    background-color: hsl(259, 100%, 65%);
    color: #fff;
    padding-left: 4rem;
}
#svg-arrow {
    background-color: hsl(259, 100%, 65%);
    border-radius: 100%;
    height: 4.5rem;
    width: 4.5rem;
    padding:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0%;
}
#svg-arrow:hover{
    background-color: hsl(0, 0%, 8%);
  }
#horizontal-line {
    width: 80%;
    height: 3.5rem;  
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

#horizontal-line>hr {
    width: 100%;
}
