<div class="main-container">
    <div class="container">
            <div class="inputs">
                <div class="input-group">
                    <label>DAY</label>
                <input type="text" placeholder="DD" name="required">
                </div>
                <div class="input-group">
                    <label>MONTH</label>
                <input type="text" placeholder="MM" name="required">
                </div>
                <div class="input-group">
                    <label>YEAR</label>
                <input type="text" placeholder="YYYY" name="required">
                </div>   
            </div>

            <div class="mid-class">
                <hr style="border: 0; height: 1px; background-color: rgb(179, 179, 179); width: 80%; margin-left: 1rem; margin-top: 30px;">
<img src="../../assets/images/icon-arrow.svg" alt="icon-arrow">
            </div>

            <div class="component">
                <legend>--<span>years</span></legend>
                <legend>--<span>months</span></legend>
                <legend>--<span>days</span></legend>
            </div>
    </div>
</div>

