<div class="main-container">
    <div class="container">
            <div class="inputs">
                <div class="input-group">
                    <label>DAY</label>
                    <input type="text" id="day" placeholder="DD"  minlength="1"
                    maxlength="2" name="day" required>
                </div>
                <div class="input-group">
                    <label for="month">MONTH</label>
                <input type="text" id="month" placeholder="MM"   minlength="1"
                maxlength="2"name="month" required>
                </div>
                <div class="input-group">
                    <label for="year">YEAR</label>
                    <input type="text" id="year" placeholder="YYYY"  minlength="4"
                    maxlength="4" name="year" required>
                </div>   
            </div>

            <div class="mid-class">
                <div id="horizontal-line">
                    <hr />
                    <div id="svg-arrow" onclick="ageCalculate()">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="46"
                        height="44"
                        viewBox="0 0 46 44"
                      >
                        <g fill="none" stroke="#FFF" stroke-width="2">
                          <path
                            d="M1 22.019C8.333 21.686 23 25.616 23 44M23 44V0M45 22.019C37.667 21.686 23 25.616 23 44"
                          />
                        </g>
                      </svg>
                    </div>
                  </div>

            <div class="component">
                <legend>--<span>years</span></legend>
                <legend>--<span>months</span></legend>
                <legend>--<span>days</span></legend>
            </div>
    </div>
</div>

